
{% extends 'base.html' %}
{% block content %}
  <h1>Forgot password</h1>
  <p>Enter your email and a new password.</p>
  <form method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="password">New password</label>
    <input type="password" name="password" id="password" required>

    <label for="confirm_password">Confirm new password</label>
    <input type="password" name="confirm_password" id="confirm_password" required>

    <br><button type="submit">Reset password</button>
  </form>
{% endblock %}
